<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="SMSDefaultInfo" type="System.Configuration.NameValueSectionHandler"/>
    <section name="ChangeMobileInfo" type="System.Configuration.NameValueSectionHandler"/>
    <section name="CCSummaryInfo" type="System.Configuration.NameValueSectionHandler"/>
    <section name="BillPayment" type="System.Configuration.NameValueSectionHandler"/>
    <section name="StatementPasswordInfo" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <!--<system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add
            name="textWriterTraceListener"
            type="System.Diagnostics.TextWriterTraceListener"
            initializeData="C:\logs\CPlog4net.txt" />
      </listeners>
    </trace>
  </system.diagnostics>-->
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="100"/>
    </connectionManagement>
  </system.net>
  <log4net>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="C:\NCR\Logs\AUBChannelProxy.log"/>
      <appendToFile value="true"/>
      <maximumFileSize value="2000KB"/>
      <maxSizeRollBackups value="5"/>
      <encoding value="utf-8"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] [%-5level] %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="RollingFile"/>
    </root>
  </log4net>
  <connectionStrings>
    <add name="NCRODS" connectionString="Provider=SQLOLEDB;Data Source=.;Initial Catalog=NXPODS;UserID=sa;Password=Zaxscdvf@0;"/>
    <!--<add name="NCRODS" connectionString="Provider=OraOLEDB.Oracle;Data Source=(DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = PXCSANEA-PC)(PORT = 1521))(CONNECT_DATA = (SERVER = DEDICATED)(SERVICE_NAME = XE) ) );User ID=AUBODS; Password=AUBODS;" />-->
    <add name="AUBOIS" connectionString="Provider=SQLOLEDB;Data Source=.;Initial Catalog=NXPODS;UserID=sa;Password=Zaxscdvf@0;"/>
  </connectionStrings>
  <SMSDefaultInfo>
    <add key="MsgType" value="IVR"/>
    <add key="ReqID" value="cust"/>
    <add key="ChSysID" value="!G"/>
    <add key="FuncID" value="!datetime"/>
    <add key="UserID" value="UserID"/>
    <add key="CorrTxnRef" value=""/>
    <add key="CustGrpID" value=""/>
    <add key="CustNIN" value=""/>
    <add key="EntID" value="AUBKW"/>
    <add key="SysID" value=""/>
    <add key="CustID" value=""/>
    <add key="TxnStatus" value="Y"/>
    <add key="SessLang" value="E"/>
    <add key="VerNo" value="0010"/>
    <add key="SessToken" value="123456789"/>
    <add key="FromAddr" value=""/>
    <add key="Encoding" value=""/>
    <add key="Locale_EN" value="en_KWT"/>
    <add key="Locale_AR" value="ar_KWT"/>
    <add key="Body_Locale_EN" value="1001"/>
    <add key="Body_Locale_AR" value="1002"/>
  </SMSDefaultInfo>
  
    <ChangeMobileInfo>
    <add key="MsgType" value="Request" />
    <add key="ReqID" value="IVR" />
    <add key="ChSysID" value="1234569877522" />
    <add key="FuncID" value="CUST_UPDATE_DET" />
    <add key="UserID" value="IVR" />
    <add key="TxnRef" value="" />
    <add key="CorrTxnRef" value="" />
    <add key="TxnDate" value="20190519120541" />
    <add key="CustNIN" value="11744508" />
    <add key="EntID" value="AUBKW" />
    <add key="SysID" value="" />
    <add key="CustID" value="" />
    <add key="ProcessEntID" value="AUBKW" />
    <add key="OrigEntID" value="AUBKW" />
    <add key="TxnStatus" value="Y" />
    <add key="SessLang" value="E" />
    <add key="VerNo" value="0001" />
    <add key="SessToken" value="3$18XI" />
  </ChangeMobileInfo>

  <CCSummaryInfo>
    <add key="MsgType" value="Request" />
    <add key="ReqID" value="IVR" />
    <add key="ChSysID" value="C434306F-0E5B-49CD-A327-8B93830E4428" />
    <add key="FuncID" value="CC_SUMMARY" />
    <add key="UserID" value="IVR" />
    <add key="TxnRef" value="" />
    <add key="CorrTxnRef" value="" />
    <add key="TxnDate" value="20190519120541" />
    <add key="CustNIN" value="11744508" />
    <add key="EntID" value="AUBKW" />
    <add key="SysID" value="" />
    <add key="CustID" value="" />
    <add key="ProcessEntID" value="AUBKW" />
    <add key="OrigEntID" value="AUBKW" />
    <add key="TxnStatus" value="Y" />
    <add key="SessLang" value="E" />
    <add key="VerNo" value="0010" />
    <add key="SessToken" value="3$18XI" />
  </CCSummaryInfo>

  <BillPayment>
    <add key="MsgType" value="Request" />
    <add key="ReqID" value="IVR" />
    <add key="ChSysID" value="1234569877522" />
    <add key="FuncID" value="BILL_PAYMENT" />
    <add key="UserID" value="IVR" />
    <add key="TxnRef" value="" />
    <add key="CorrTxnRef" value="" />
    <add key="TxnDate" value="20190519120541" />
    <add key="CustNIN" value="11744508" />
    <add key="EntID" value="AUBKW" />
    <add key="SysID" value="" />
    <add key="CustID" value="" />
    <add key="ProcessEntID" value="AUBKW" />
    <add key="OrigEntID" value="AUBKW" />
    <add key="TxnStatus" value="Y" />
    <add key="SessLang" value="E" />
    <add key="VerNo" value="0001" />
    <add key="SessToken" value="3$18XI" />
  </BillPayment>

  <StatementPasswordInfo>
    <add key="MsgType" value="Request" />
    <add key="ReqID" value="MBANK" />
    <add key="ChSysID" value="77e975cfd5d6a9fe" />
    <add key="FuncID" value="GET_MAIL_PWD" />
    <add key="UserID" value="IVR" />
    <add key="TxnRef" value="" />
    <add key="CorrTxnRef" value="" />
    <add key="TxnDate" value="20190519120541" />
    <add key="CustNIN" value="11744508" />
    <add key="EntID" value="AUBKW" />
    <add key="SysID" value="" />
    <add key="CustID" value="" />
    <add key="ProcessEntID" value="AUBKW" />
    <add key="OrigEntID" value="AUBKW" />
    <add key="TxnStatus" value="Y" />
    <add key="SessLang" value="E" />
    <add key="VerNo" value="0001" />
    <add key="SessToken" value="3$18XI" />
  </StatementPasswordInfo>

    <appSettings>
    <!--<add key="log4net.Internal.Debug" value="true"/>-->
    <!-- AUB Appsettings-->
    <add key="NCRODSEncrypted" value="false"/>
    <add key="LOGLEVEL" value="DEBUG"/>
    <add key="AUBOIS_Encrypted" value="false"/>
    <add key="MAX_IVR_RETRIES" value="1"/>
    <add key="AUB_OIS_NETWORK_ID" value="3"/>
    <add key="AUB_FNS_NETWORK_ID" value="4"/>
    <add key="KTEL_NETWORK_ID" value="5"/>
    <add key="IVR_NETWORK_ID" value="1"/>
    <add key="BANKSMART_NETWORK_ID" value="7"/>
    <add key="CHANNEL_UNKNOWN_USERID" value="UNKNOWN"/>
    <add key="SAMPLE_MESSAGES_PATH" value="F:\\Hashim\\AUB\\NXP\\samplemessages\\"/>
    <!-- must be added in new files-->
    <add key="MESSAGE_LOG_DB_DATE_TIME_FORMAT" value="dd-MMM-yyyy HH:mm:ss.fff"/>
    <add key="DEFAULT_DB_DATE_TIME_FORMAT" value="yyyy-MM-dd HH:mm:ss.fff"/>
    <add key="DB_GET_DATE_COMMAND" value="SYSTIMESTAMP"/>
    <!-- -->
    <!-- error code related-->
    <add key="AUBUNKNOWNERROR" value="-99"/>
    <add key="AUBEXCEPTIONERROR" value="097"/>
    <add key="AUBUNKNOWNERRORDESC" value="UnKnown"/>
    <add key="NOT_MAPPED_ERROR_CODE" value="003"/>
    <add key="AUB_OIS_ERR_PROCESSED_OK" value="0"/>
    <add key="PENDINGERRORCODE" value="002"/>
    <add key="PENDINGERRORDESC" value="PENDING"/>
    <add key="EXCEPTIONERRORCODE" value="098"/>
    <add key="EXCEPTIONERRORDESC" value="Exception"/>
    <add key="PROCESSEDOKERRORCODE" value="000"/>
    <add key="PROCESSEDOKERRORDESC" value="PROCESSED OK"/>
    <add key="ERR_IVRPM_NO_RECORDS_TO_DELETE" value="IVRPM0007"/>
    <add key="ERR_OTP_PROCESSED_OK" value="OTP0000"/>
    <add key="ERR_CUSTOMERNOTFOUND" value="IVRPM0015"/>
    <add key="ERR_DESC_CUSTOMERNOTFOUND" value="CUSTOMER_NOT_FOUND"/>
    <add key="ERR_CUSTOMERNOTREGISTERED" value="IVRPM0015"/>
    <add key="ERR_DESC_CUSTOMERNOTREGISTERED" value="CUSTOMER_NOT_REGISTERED"/>
    <add key="ERR_IVR_PROCESSED_OK" value="000"/>
    <add key="OIS_ERR_NDB_PENDING" value="DB0099"/> <!-- to be added-->
    <add key="OIS_ERR_TCP_PENDING" value="TCP0099"/>
    <add key="ERR_RETRY_CREDIT_CARD_PAYMENT" value="ccpaymentretryerror"/>
    <add key="ERR_CUST_NOT_ALLOWED_TPIN_GEN" value="343"/>
    <add key="ERR_DESC_CUST_NOT_ALLOWED_TPIN_GEN" value="Customer Not Allowed for TPIN Generation"/>
    <add key="KTEL_PROCESSEDOKERRORCODE" value="0"/>
    <add key="TPIN_GEN_BLACKLIST_CUST_TYPES" value="C|L|"/>
    <add key="IVR_ACCESS_BLACKLIST_CUST_TYPES" value="C|L|"/>
    <add key="ERR_CUST_NOT_ALLOWED_IVR_ACCESS" value="343"/>
    <add key="ERR_DESC_CUST_NOT_ALLOWED_IVR_ACCESS" value="Customer Not Allowed for IVR Access"/>
    <add key="BANKSMART_PROCESSEDOKERRORCODE" value="000"/>
    <add key="KTEL_ALLOWED_DEBIT_ACCT_TYPE" value="CA|SA|"/>
    <add key="KTEL_ALLOWED_DEBIT_ACCT_CURRENCY" value="KWD|"/>
    <!-- to be added-->
    <!-- OTP-->
    <add key="OTP_TPIN_EXPIRY" value="60"/>
    <add key="OTP_TPIN" value="OTP.IVR.TPIN"/>
    <add key="OTP_TPIN_AUTH_CODE_DIGITS" value="4"/>
    <!-- OTP IB Info Update-->
    <add key="OTP_IB_INFO_UPD_EXPIRY" value="60"/>
    <add key="OTP_IB_INFO_UPD" value="OTP.IVR.TPIN"/>
    <add key="OTP_IB_INFO_UPD__AUTH_CODE_DIGITS" value="4"/>
    <!-- -->
    <!---->
    <!-- -->
    <!-- Reversal Error Code List-->
    <add key="MQ_ERR_LIST_FOR_REVERSAL" value="000|999|"/>
    <!-- NCR WebServices Param-->
    <add key="OTPMANAGEMENTSERVICE_BINDING" value="NetTcpBinding_IPasswordManagerService"/>
    <add key="TPINMANAGEMENTSERVICE_BINDING" value="WSHttpBinding_ITPINManagementService"/>
    <add key="WMQServiceClient_BINDING" value="NetTcpBinding_IWMQService"/>
    <add key="AUB_OIS_ENDPOINT" value="NetTcpBinding_IDBService"/>
    <add key="AUB_FNS_ENDPOINT" value="NetTcpBinding_IFNSService"/>
    <add key="BENFMANAGEMENTSERVICE_BINDING" value="NetTcpBinding_IBeneficiaryManagementService"/>
    <add key="NCR_TCP_SERVICE_ENDPOINT" value="NetTcpBinding_ITCPService"/>
    <!-- to be added in updated config-->
    <!---->
    <!-- Back end web services Param-->
    <add key="AUBSMSSERVICE_BINDING" value="DataServiceSoap"/>    
    <!-- -->
    <!-- SEQUENCES-->
    <!-- <add key="SEQ_AUB_REFNUM" value="UPDATE SEQUENCE_DETAIL SET SEQ_NUM = CASE WHEN DATEDIFF(DD,UPDATED_ON,GETDATE())&gt;= 1 THEN 0 WHEN SEQ_NUM &gt;= 999999 THEN 0 ELSE SEQ_NUM + 1 END, UPDATED_ON = GETDATE() OUTPUT INSERTED.SEQ_NUM WHERE SEQ_ID = 'BACKEND_SEQ'" /> -->
    <add key="SEQ_AUB_REFNUM" value="SELECT BACKEND_SEQ.nextVal AS SEQ_NUM FROM DUAL"/>
    <add key="SEQ_AUB_REFNUM_LENGTH" value="6"/>
    <!---->
    <!-- OIS Functions-->
    <add key="AUB_GET_MOBILE_NO_FUNC_NAME" value="GET_MOBILE_NUMBER"/>
    <add key="AUB_GET_ACCOUNT_BALANCE" value="F02"/>
    <add key="AUB_GET_ACCOUNT_BALANCE_QUERY" value="SELECT F02('F02|VR|00000OTP0001|!FIELD1!|!FIELD2!|') AS OUTPUT FROM DUAL"/>
    <!-- -->
    <add key="CC_PAYMENT_UTILITY_SERVICE_CODE" value="02"/>
    
    <add key="PREPAID" value="527799|554503|"/>
    <add key="DEBITCARD" value="585695|627463|537016|532674|5215|"/>
    <add key="MASTER" value="547045|540281|530348|552272|530502|521533|536322|"/>
    <add key="VISA" value="479065|479066|466719|431270|"/>
    <add key="CYBER" value="517735|"/>

    <!-- service codes-->

    <add key="SERVICECODE_SEND_MESSAGE" value="5800"/>
    <add key="SERVICECODE_MOBILE_UPDATE" value="5801"/>
    <add key="SERVICECODE_CHECK_CUSTOMER_STATUS" value="5001"/>
    <add key="SERVICECODE_GET_CUST_MOBILE" value="5002"/>
    <add key="SERVICECODE_UPD_IVR_PIN_RETRIES" value="5003"/>
    <add key="SERVICECODE_UPD_CALL_TRANSFER_FLAG" value="5004"/>
    <add key="SERVICECODE_GET_OTP_STATUS" value="4001"/>
    <add key="SERVICECODE_GENERATE_OTP" value="4002"/>
    <add key="SERVICECODE_VERIFY_OTP" value="4003"/>
    <add key="SERVICECODE_GET_GEN_OTP_STATUS" value="4004"/>
    <add key="SERVICECODE_GENERATE_GEN_OTP" value="4005"/>
    <add key="SERVICECODE_VERIFY_GEN_OTP" value="4006"/>
    <add key="SERVICECODE_TPIN_GENERATION" value="0010"/>
    <add key="SERVICECODE_TPIN_AUTH" value="0011"/>
    <add key="SERVICECODE_TPIN_CHANGE" value="0012"/>
    <add key="SERVICECODE_CHECK_PIN_HISTORY" value="0013"/>
    <!-- new service codes for NXP-->
    <add key="SERVICECODE_GET_ACCOUNT_BALANCE" value="5005"/>
    <add key="SERVICECODE_GET_ACCOUNT_MINI_STMT" value="5011"/>
    <add key="SERVICECODE_GET_ACCOUNT_STATEMENT" value="5070"/>
    <add key="SERVICECODE_GET_CUSTOMER_PRODUCT_INFO" value="5031"/>
    <add key="SERVICECODE_GET_ACCT_SUMMARY" value="5004"/>
    <add key="SERVICECODE_GET_ACCOUNT_DETAIL" value="5030"/>
    <add key="SERVICECODE_GET_LOAN_SUMMARY" value="5087"/>
    <add key="SERVICECODE_GET_LOAN_PAYMENT_SCHEDULE" value="5086"/>
    <add key="SERVICECODE_GET_SO_SUMMARY" value="5026"/>
    <add key="SERVICECODE_GET_CREDIT_CARD_SUMMARY" value="5024"/>
    <add key="SERVICECODE_GET_CC_PREVIOUS_STMT" value="5081"/>
    <add key="SERVICECODE_GET_CC_CURRENT_STMT" value="5080"/>
    <add key="SERVICECODE_GET_PP_CURRENT_STMT" value="5082"/>
    <add key="SERVICECODE_GET_DEBIT_CARD_SUMMARY" value="5042"/>
    <add key="SERVICECODE_STOP_DEBIT_CARD" value="5072"/>
    <add key="SERVICECODE_GET_EXCHANGE_RATES" value="5006"/>
    <add key="SERVICECODE_VAL_FUNDS_TRANSFER" value="5044"/>
    <add key="SERVICECODE_EXECUTE_FUNDS_TRANSFER" value="5008"/>
    <add key="SERVICECODE_PAY_BILL" value="5010"/>
    <add key="SERVICECODE_FNS_TRFR_PAYMENT" value="5045"/>
    <add key="SERVICECODE_FNS_RVRS_PAYMENT" value="5145"/>
    <add key="SERVICECODE_VAL_BILLS_PAYMENT" value="5077"/>
    <add key="SERVICECODE_VAL_TRFR_PAY" value="5047"/>
    <add key="SERVICECODE_VALIDATE_ACCOUNT_NUMBER" value="5F43"/>
    <add key="SERVICECODE_GET_CIF_FROM_ACCOUNT_NUMBER" value="5F42"/>
    <add key="SERVICECODE_GET_MINISTRY_SALARIES" value="5050"/>
    <add key="SERVICECODE_FNS_USER_SIGN_ON" value="5106"/>
    <add key="SERVICECODE_FNS_USER_SIGN_OFF" value="5107"/>
    <add key="SERVICECODE_GET_ACCOUNT_BENEFICIARIES" value="5025"/>
    <add key="SERVICECODE_GET_CUSTOMER_LIMITS" value="5080"/>
    <add key="SERVICECODE_GET_WAQALA_RATES" value="5007"/>
    <add key="SERVICECODE_GET_NXP_CUSTOMER_PROFILE" value="5035"/>
    <add key="SERVICECODE_GET_FD_SUMMARY" value="5096"/>
    <add key="SERVICECODE_GET_CUSTOMER_INFORMATION" value="5097"/>
    <add key="SERVICECODE_CHECK_IF_CARD_ELG_PIN_GEN" value="5098"/>
    <add key="SERVICECODE_VALIDATE_CARD_FOR_TPIN" value="5099"/>
    <!--TPIN Services-->
    <add key="SERVICECODE_GENERATE_TPIN" value="0010"/>
    <add key="SERVICECODE_VERIFY_TPIN" value="0011"/>
    <add key="SERVICECODE_CHANGE_TPIN" value="0012"/>
    <add key="SERVICECODE_CHECK_TPIN_STATUS" value="0013"/>    
    <!--KTEL Service Codes-->
    <add key="SERVICECODE_KTEL_AUTHORIZATION" value="5577"/>
    <add key="SERVICECODE_KTEL_PAYMENT" value="5510"/>
    <!-- Bank Smart Service Codes-->
    <add key="SERVICECODE_BS_BALANCE_INQUIRY" value="7005"/>
    <add key="SERVICECODE_BS_FUNDS_TRANSFER" value="7008"/>
    <add key="SERVICECODE_BS_UTILITY_PAYMENT" value="7010"/>
    <!-- -->
    <!-- Bank Smart Mapped Bill Type -->
    <add key="BILLTYPE_7_C" value="002"/>
    <!-- -->
    <!-- NI Service Codes-->
    <add key="SERVICECODE_NI_SAF_REQUEST" value="5710"/>
    <add key="SERVICECODE_NI_PAYMENT_REQUEST" value="5730"/>
    <!-- -->
    <!---->
    <!-- KTEL Suspense accounts-->
    <add key="KTEL_00_SUSPENSE_ACCOUNT" value=""/>
    <add key="KTEL_01_SUSPENSE_ACCOUNT" value=""/>
    <add key="KTEL_02_SUSPENSE_ACCOUNT" value=""/>
    <add key="KTEL_03_SUSPENSE_ACCOUNT" value=""/>
    <add key="KTEL_04_SUSPENSE_ACCOUNT" value=""/>
    <!--FNS SAF-->
    <add key="FNS_OFFLINE_START_TIME" value="00:00:00"/>
    <add key="FNS_OFFLINE_END_TIME" value="05:00:00"/>
    <add key="FNS_SAF_SERVICE_CODES" value="5045|"/>
    <add key="ERR_FNS_OFFLINE" value="120"/>
    <add key="ERR_DESC_FNS_OFFLINE" value="FNS_OFFLINE"/>    
    <!-- -->
    <!-- NI SAF -->
    <add key="NI_SAF_BATCH_SIZE" value="10"/>
    <add key="NI_SAF_RETRIEVE_STATUS" value="'N'"/>
    <add key="NI_SAF_MAX_RETRY_COUNT" value="5"/>
    <add key="AUB_NI_NETWORK_ID" value="7"/>
    <!---->
    <add key="LOG_MESSAGE" value="true"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <compilation debug="true"/>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="basicBinding">
          <security mode="None" />
        </binding>
        <binding name="DataServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
          bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IFNSService" />
        <binding name="BasicHttpBinding_IChannelProxyService" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="TCPIPBinding">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IPasswordManagerService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
          hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="524288"
          maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="NetTcpBinding_ITranslatorService">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IDBService">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_ILimitManagementService">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IFNSService">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IBeneficiaryManagementService">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_ITCPService">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IGMDService">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_ILimitManagementService1">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IChannelProxyService">
          <security mode="None" />
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="WSBinding">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="500000" />
          <security mode="None" />
        </binding>
        <binding name="WSHttpBinding_IPasswordManagerService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
          textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IBeneficiaryManagementService">
          <security mode="None" />
        </binding>
        <binding name="WSHttpBinding_ILimitManagementService">
          <security mode="None" />
        </binding>
        <binding name="WSHttpBinding_IChannelProxyService">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:5585/PasswordManagerService/"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPasswordManagerService"
        contract="NCROTPManagementService.IPasswordManagerService" name="WSHttpBinding_IPasswordManagerService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:5586/PasswordManagerService/"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPasswordManagerService"
        contract="NCROTPManagementService.IPasswordManagerService" name="NetTcpBinding_IPasswordManagerService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://172.28.3.17/XsdWS/GIBComController.asmx"
        binding="basicHttpBinding" bindingConfiguration="DataServiceSoap"
        contract="AUBSMSService.DataServiceSoap" name="DataServiceSoap" />
      <endpoint address="net.tcp://localhost:8010/NMTService" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_ITranslatorService" contract="NCRTranslatorService.ITranslatorService"
        name="NetTcpBinding_ITranslatorService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:5536/LimitManagementService/"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ILimitManagementService"
        contract="LimitManagementReference.ILimitManagementService"
        name="NetTcpBinding_ILimitManagementService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:9012/NFNSService" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_IFNSService" contract="NCRFNSService.IFNSService"
        name="NetTcpBinding_IFNSService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:9013/NFNSService" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IFNSService" contract="NCRFNSService.IFNSService"
        name="BasicHttpBinding_IFNSService" />
      <endpoint address="http://localhost:5595/BeneficiaryManagementService/"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBeneficiaryManagementService"
        contract="NCRBeneficiaryManagementService.IBeneficiaryManagementService"
        name="WSHttpBinding_IBeneficiaryManagementService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:5596/BeneficiaryManagementService/"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IBeneficiaryManagementService"
        contract="NCRBeneficiaryManagementService.IBeneficiaryManagementService"
        name="NetTcpBinding_IBeneficiaryManagementService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:9010/NTCPService" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_ITCPService" contract="NCRTCPIPService.ITCPService"
        name="NetTcpBinding_ITCPService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8020/NDBService" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_IDBService" contract="NCRDBService.IDBService"
        name="NetTcpBinding_IDBService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8065/NCRGMDService" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_IGMDService" contract="NCRGMDService.IGMDService"
        name="NetTcpBinding_IGMDService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:5536/LimitManagementService/"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ILimitManagementService1"
        contract="NCRLimitManagementService.ILimitManagementService"
        name="NetTcpBinding_ILimitManagementService1">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      
      <endpoint address="http://localhost:8732/Design_Time_Addresses/ChannelProxy/Service1/"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IChannelProxyService"
        contract="NxpNIServices.IChannelProxyService" name="WSHttpBinding_IChannelProxyService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      
      <endpoint address="http://localhost:8732/Design_Time_Addresses/ChannelProxy/Service1/Soap11"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IChannelProxyService"
        contract="NxpNIServices.IChannelProxyService" name="BasicHttpBinding_IChannelProxyService" />
      
      <endpoint address="net.tcp://localhost:8777/Design_Time_Addresses/ChannelProxy/Service1/"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IChannelProxyService"
        contract="NxpNIServices.IChannelProxyService" name="NetTcpBinding_IChannelProxyService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
    <services>
      <service behaviorConfiguration="Throtelled" name="NCR.EAI.AUB.ChannelProxy.ChannelProxyService">
        <endpoint address="" behaviorConfiguration="endPointMessageInspector" binding="wsHttpBinding" bindingConfiguration="WSBinding" contract="NCR.EAI.AUB.ChannelProxy.IChannelProxyService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="Soap11" behaviorConfiguration="endPointMessageInspector" binding="basicHttpBinding" bindingConfiguration="basicBinding" contract="NCR.EAI.AUB.ChannelProxy.IChannelProxyService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" behaviorConfiguration="endPointMessageInspector" binding="netTcpBinding" bindingConfiguration="TCPIPBinding" contract="NCR.EAI.AUB.ChannelProxy.IChannelProxyService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/ChannelProxy/Service1/"/>
            <add baseAddress="net.tcp://localhost:8777/Design_Time_Addresses/ChannelProxy/Service1/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <extensions>
      <behaviorExtensions>
        <add name="MessageInspector" type="NCR.EAI.AUB.InspectorConfigurationSection, NCR.EAI.AUB.ChannelProxy, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
        <add name="AUBMessageInspector" type="NCR.EAI.AUB.AUBInspectorConfigurationSection, NCR.EAI.AUB.ChannelProxy, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="True"/>
        </behavior>
        <behavior name="Throtelled">
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="True"/>
          <serviceThrottling maxConcurrentCalls="100" maxConcurrentSessions="100"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="endPointMessageInspector">
          <MessageInspector/>
        </behavior>
        <behavior name="AUBendPointMessageInspector">
          <!--<AUBMessageInspector/>-->
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
  </startup>
</configuration>
